#map {
    padding-top:2%;
    height: 500px;
}
p{
    // padding-top: 6%;
    text-align: justify;
}
.row{
    margin: 0;
}
.container-fluid {
    padding: 0%;
}
h3{
    text-align: center;
    padding-top: 5%;
}